@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/regular.woff2') format('woff2'),
        url('/fonts/regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 
body {
    font-family: 'Manrope', sans-serif;
}